/* el asterisco es un comodín*/
*{
    font-family: Arial, Helvetica, sans-serif;
}
/* almacenando variables en el pseudo elemento :root, 
se vuelven accesibles a todo el documento. :root apunta al
elemento HTML, pero tiene mayor "especificidad"/peso (sobreescribe
los valores que normalmente se imponen por cascada) */
:root{
    --main-bg-color: rgb(146, 185, 142);
    --small-bg-color: brown;
}

/* se aplica la variable fijada en la pseudoclase :root,
utilizando el método var(--variable) */
body {
    background-color: var(--main-bg-color);
}

/* media query: cuando el tamaño de pantalla no
exceda los 500 píxeles, aplica las propiedades
especificadas. Bootstrap y otros frameworks
definen sus propios breakpoints */
@media (max-width: 500px){
    body {
        background-color: var(--small-bg-color);
        color: white;
    }
}
/*formateando una clase*/
.miclase {
    color: red;
    font-weight: bold;
}

/*formateando diferentes IDs.
Véase box-model para localizar
border, margin y padding*/
#mititulo {
    border: 3px dotted grey;
    padding: 25px;
    margin: 10px;
    font-weight: bolder;
    color: rgb(20, 11, 129);
    text-shadow: 3px 0px 5px orange;
}

#mibajada {
    margin: 10px;
    padding: 5px;
    background-image: linear-gradient(to right, rgba(255, 132, 31, 0), rgb(255, 115, 34));
}