@font-face {
    font-family: sofiaSans;
    src: url('fuentes/sofiasans-variablefont_wght.ttf');
    }

@font-face {
    font-family: quicksand;
    src: url('fuentes/quicksand-variablefont_wght.ttf');
}

* {
    box-sizing: border-box;
  }


/* almacenando variables en el pseudo elemento :root, 
se vuelven accesibles a todo el documento. :root apunta al
elemento HTML, pero tiene mayor "especificidad"/peso que hmtl{}(sobreescribe
los valores que normalmente se imponen por cascada) */
:root {
    --light-bg-color: rgb(222, 238, 150);
    --dark-bg-color: rgb(26, 26, 22);
    --light-color: rgb(0, 0, 0);
    --dark-color: rgb(240, 240, 240);
    --col-light-color: rgb(147, 163, 75);
    --col-dark-color: rgb(22, 22, 9);
    --button-bg-color: rgb(107, 19, 19);
    --button-hover-bg-color: rgb(199, 0, 0);
}

/* se aplica la variable fijada en la pseudoclase :root,
utilizando el método var(--nombre-de-lavariable) */
body {
    background-color: var(--light-bg-color);
    color: var(--light-color);
    font-family: quicksand, Verdana, sans-serif;
}

h1, h2, h5 {
    font-family: sofiaSans, Helvetica, sans-serif;
}

/*media queries para controlar el tamaño del título y texto laterales */
@media screen and (max-width: 410px) {
h5{
    font-size: 2.5vw;
}

}

@media screen and (min-width: 300px) {

.col-3 {
    font-size: 1.7vw;
}

}

@media screen and (min-width: 800px){

.datos {
    font-size: 1.2vw;
}
}

@media screen and (max-width: 450px) {
    .datos {
        font-size: 1.6vw;
    }
}

@media screen and (max-width: 300px) {
    .datos {
        font-size: 1.4vw;
    }
}

p {
    text-align: justify;
}
.datos {
    overflow: visible;
    word-break: keep-all;
}

.col-3 {
    background-color: var(--col-light-color);
    overflow: auto;
    word-break: break-word;
    font-size: 1.5vw;
}

/*procurando que la cita en la columna de la izquierda no corte las palabras*/
.lead {
    font-size: 2.3vw;
    text-align: start;
}

form input, form textarea {
    display: block;    
    }

.fijado {
position: fixed;
top: 0;
right: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    max-width: 100%; 
    height:auto;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgb(71, 71, 71);
}
button {
    display: inline-block;
    width: 9vw;
    min-height: 23px;
    margin: 0px;
    padding: 0px;
    font-size: 1.3vw;
    line-height: normal;
    background-color: var(--button-bg-color);
    color: var(--dark-color);
    border: none;
    white-space: nowrap;
    transition-property: background-color;
    transition-duration: 0.6s;
}

button:hover {
    background-color: var(--button-hover-bg-color);
}

/*color de fondo inicial de la lista*/
ol {
    background-color: rgb(230, 230, 230);
}

/*modificando el tamaño de los íconos apuntando a la pseudo clase before, de la clase fa del elemento i */
i.fa::before{
    font-size: 85%;
}