@font-face {
    font-family: sofiaSans;
    src: url('fuentes/sofiasans-variablefont_wght.ttf');
    }

@font-face {
    font-family: quicksand;
    src: url('fuentes/quicksand-variablefont_wght.ttf');
}

/* almacenando variables en el pseudo elemento :root, 
se vuelven accesibles a todo el documento. :root apunta al
elemento HTML, pero tiene mayor "especificidad"/peso que hmtl{}(sobreescribe
los valores que normalmente se imponen por cascada) */
:root{
    --light-bg-color: rgb(215, 238, 113);
    --dark-bg-color: rgb(32, 32, 28);
    --light-color: rgb(0, 0, 0);
    --dark-color: rgb(240, 240, 240);
    --col-light-color: rgb(147, 163, 75);
    --col-dark-color: rgb(22, 22, 9);
}

/* se aplica la variable fijada en la pseudoclase :root,
utilizando el método var(--nombre-de-lavariable) */
body {
    background-color: var(--light-bg-color);
    color: var(--light-color);
    font-family: quicksand;
}

h1, h2{
    font-family: sofiaSans, Helvetica, sans-serif;
    
}

p{
    text-align: justify;
}
.col-3{
    background-color: var(--col-light-color);
    overflow: auto;
    word-break: break-word;
}

/*procurando que la cita en la columna de la izquierda no corte las palabras*/
.lead{
    font-size: 2.3vw;
    text-align: start;
}

form input, form textarea{
    display: block;    
    }

div.fijado {
position: fixed;
top: 0;
right: 0;
overflow: auto;
}

button{
    width: 9vw;
    font-size: 1.3vw;
}

/*color de fondo inicial de la lista*/
ol {
    background-color: rgb(230, 230, 230);
}